.container {
    padding-left: 0;
    padding-right: 0;
}

.columns {
    margin: 0;
}

.column {
    padding: 0;
}

.flight-row-height {
    height: 63px;
}

.content {
    font-family: "Open Sans", sans-serif;
    background-color: #ebebeb;
    height: 100vh;
    width: 100%;
    position: absolute;
}

    .content .column-headings {
        font-size: 17px;
        color: #000;
        font-weight: 300;
        padding-left: .4em;
    }

    .content .flight-container.column {
        padding-left: 21px !important;
        padding-right: 21px !important;
        padding-top: 21px;
    }

    .content .flight-container .pages-container {
        position: relative;
    }

        .content .flight-container .pages-container .page {
            will-change: transform;
            overflow: hidden;
            width: 100%;
            position: absolute;
        }

    .content .no-results {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75vh;
    }

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 63px;
}

.message {
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
}

    .message .information {
        font-size: 42px;
    }

.no-wrap {
    white-space: nowrap;
}

.paging-indicator-container {
    position: absolute;
    bottom: 5px;
}

    .paging-indicator-container .pager {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
