.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    height: 260px;
    background-color: rgba(5,64,98,.9);
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.banner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

    .banner-overlay .heading {
        padding: 0 30px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .banner-overlay .heading .heading-message {
            margin-top: -10px;
            display: flex;
            flex: 80%;
            flex-direction: column;
            justify-content: center;
        }

            .banner-overlay .heading .heading-message .title {
                display: flex;
                align-items: center;
                font-family: "Open Sans", sans-serif;
                font-size: 80px;
                font-weight: 500;
                width: 800px;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: .9;
            }

            .banner-overlay .heading .heading-message .subtitle {
                font-family: "Open Sans", sans-serif;
                font-size: 44px;
                font-weight: 300;
                width: 800px;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .banner-overlay .logo-container {
        width: 158px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .banner-overlay .logo-container img {
            width: 158px;
            max-height: 150px;
        }

        .banner-overlay .logo-container .clock-underline {
            background-color: #fff;
            height: 2px;
            width: 100%;
        }

@media only screen and (min-width: 1081px) {
    .banner-landscape-allow .banner-overlay .heading {
        flex-direction: column !important;
        padding-left: 60px !important;
        padding-right: 30px !important;
    }
}

@media only screen and (min-width: 1280px) {
    .banner-landscape-allow {
        height: 100vh;
    }

        .banner-landscape-allow .heading {
            flex-direction: column !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .banner-landscape-allow .heading-message {
            margin-top: 100px !important;
            display: inline-block !important;
        }

            .banner-landscape-allow .heading-message span {
                display: block;
            }

        .banner-landscape-allow .logo-container {
            margin-bottom: 70px;
        }
}
