*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background: #fff;
    color: #3b4351;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: .8rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
